[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.2"
python-decouple = "*"
cloudinary = "*"
django-heroku = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
django-bootstrap4 = "*"
django-fontawesome-5 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.6"
