{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
 {% if user.profile.neighbourhood %}

        <div class="container mt-2">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
        <div class="card mt-auto mb-auto">
    <h5 class="text-center card-title mt-2" style="color: rgb(9, 104, 49);font-weight: bold;">{{hood.name|title}} Hood</h5>
  {%if hood.picture%}
          <img class="rounded-circle  d-block mx-auto" height='250px' width='250px' src="{{ hood.picture.url }}">
         {%else%}
         <img class="rounded-circle" src="https://media.istockphoto.com/photos/new-homes-on-a-quiet-street-in-raleigh-nc-picture-id1319269543?b=1&k=20&m=1319269543&s=170667a&w=0&h=9Nv2yeDkHR01ADDhxcY4A1PZx9veOOwPRVnNXT6Jk3c=" height='250px' width='250px'  alt="">
         {% endif%}
            <div class="card-body">
              <p class="float-left" style="color: rgb(9, 104, 49);font-weight: bold;">Admin  : {{hood.admin.name}}</p>
               {% if hood.admin  == user.profile %}
                <p class="float-right" style="color: rgb(9, 104, 49);"><a href="{% url 'occupants' hood.id %}" class="badge badge-info justify-content-center" style="color: rgb(9, 104, 49);font-weight: bold;">View Occupants</a></p>
                {% endif %}  <br>
            <hr>
              <p class="" style="color: rgb(9, 104, 49);font-weight: bold;">Occupants  : {{hood.occupant.count}}</p>
              <hr>                      
              <p class="" style="color: rgb(9, 104, 49);font-weight: bold;"> Location  : {{hood.location}}</p>
              <hr>
              <p class="text-center" style="color: rgb(9, 104, 49);font-weight: bold;"> Emergency Services</p>
              <p class="float-left ml-5 text-success" style="color: rgb(9, 104, 49);font-weight: bold;"> Police Services : {{hood.police}}</p>
              <p class="float-right mr-5 text-primary" style="color: rgb(9, 104, 49);font-weight: bold;"> Health Centres : {{hood.health}}</p>
             <br>
              <hr>

              <p class="float-left" style="color: rgb(9, 104, 49);font-weight: bold;"><a href="{% url 'business' hood.id%}" class="badge badge-info" style="color: rgb(9, 104, 49);font-weight: bold;">View Business</a></p>
              <p class="float-right" style="color: rgb(9, 104, 49);font-weight: bold;"><a href="{% url 'post' hood.id%}" class="badge badge-info" style="color: rgb(9, 104, 49);font-weight: bold;">View Posts</a></p>
            </div>
          </div>


        </div>
        <div class="col-md-3"></div>
    </div>

</div>
       </div>

                {% endif %}
{% endblock %} 