{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}


<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hood </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Estate</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Business</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Emergency Contact</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Posts</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">



      <div class="container-fluid">
        <h1 class="mt-4 text-center">Simple Sidebar</h1>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->





{% endblock %} 