{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <div class="container-fluid">
        <h1 class="mt-4 text-center"><span style="background-color:rgb(160, 224, 200);color:black">Welcome to Jirani</span></h1>
        <h6 class="mt-4 text-center"><b><span style="background-color:rgb(88, 194, 88);color: black;">Know your neighborhood</b><br><br>
        <i><span style="background-color:rgb(173, 88, 194);color: yellow;">Jirani is swahili for neighbour</span></i></h6>  
      </div>
      <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body mb-3 mr-3 ml-3">
            <p class="text-center text-secondary">
              Sign in to your Jirani account
            </p>
            <form action="" method="post" novalidate>
              {% csrf_token%} {{ form|crispy }}
              <button
                type="submit"
                class="btn btn-primary btn-sm D-block mx-auto"
              >
                Log In
              </button>
            </form>
            
        </div>
    </div>
    <div class="card mt-2">
      <div class="card-body mt-3 mb-3 mr-2 ml-4" style="color: #1c2541">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </div>
    </div>
    </div>
</div>
<div class="col-md-2"></div>
</div>


{% endblock %}